<h3>{{ name }}</h3>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd> {{ getHeroeDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
*ngIf="name !== 'Spiderman'"
(click)="changeHeroe()"
class="btn btn-primary mx-2">Cambiar nombre</button>
<button
*ngIf="age !== 50"
(click)="changeAge()"
class="btn btn-primary">Cambiar edad
</button>

<button
(click)="reset()"
class="btn btn-primary mx-2">Reset
</button>
