<h4>Agregar personaje</h4>
<form class="row" (ngSubmit)="emitCharacter()">
  <!-- enlace de la propiedad [value]="character.name" -->
  <!-- <input class="form-control mb-2" [value]="character.name" type="text" placeholder="Nombre"> -->
  <!-- Enlase de un evento -->
  <!-- (click)="someFunction()" -->
  <!-- Usando la caja de bananas enlsasamos propiedad y eventos two ways databinding -->
  <input
   class="form-control mb-2" [(ngModel)]="character.name"
   name="name"
   type="text" placeholder="Nombre">
  <input
   class="form-control mb-2" [(ngModel)]="character.power"
   name="power"
   type="number" placeholder="Poder">

  <button type="submit" class="btn btn-primary">Agregar</button>

  <!-- <pre>{{ character | json }}</pre> -->
</form>
