<h3>Listado de heroes</h3>

<div *ngIf="deletedHeroe;else nothingDeleted">
  <h3 >Heroe borrado <small class="text-danger">{{deletedHeroe}}</small></h3>
</div>

<!-- templates se usan para ocultar codigo q se mostrara desde un if else -->
<ng-template #nothingDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>


<button *ngIf="heroeNames.length > 0"
  class="btn btn-outline-danger"
  (click)="deleteLast()">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroeNames"
    class="list-group-item">
    {{name}}
  </li>
</ul>
